@import url(../assets/fonts/font.scss);
*{
    font-family: "OpenSans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
button, input{
    outline: none;
    border: none;
}
button{
    cursor: pointer;
}